body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#dice {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.dice-row {
  display: inline-flex;
  height: 100px;
}

#roll-btn {
  display: inline-flex;
  justify-content: space-between;
  width: 280px;
}

#roll-btn button[value=true] {
  display: block;
  font-size: 32px;
  color: black;
  border: 3px solid black;
  border-radius: 25%;
}

#roll-btn button[value=false] {
  display: block;
  font-size: 32px;
  color: grey;
  background-color: lightgray;
  border: 3px solid grey;
  border-radius: 25%;
}

#roll-btn > button[value=true]:hover {
  color: white;
  background-color: lightgreen;
  box-shadow: 1px 1px 1px black;
}

#roll-btn > button[value=false]:hover {
  color: lightcoral;
}

#roll-btn > button:focus {
  outline: none;
}

.pointer-error {
  opacity: 0;
}

.pointer-error.visible {
  opacity: 1;
  color: lightcoral;
}
